*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

header{
    display: flex;
    background-color: aqua;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.logo{
    display: flex;
    align-items: ;
}

.logo img{
    height: 50px;
    margin-right: 10px;
}

 nav a{
    display: inline-block;
    text-decoration: none;
    color: blueviolet;
    margin: 0 30px;
    padding: 5px 15px;
 }

 nav a:hover{
    background-color: aliceblue;
    color: blue;
 }

 .encabezado{
    background-image: url(../Imagenes/Jujuy.jpg);
    background-position: center center;
    height: 500px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 .encabezado h1{
    font-size: 100px;
    padding: 30px;
 }

 .encabezado h3{
    font-size: medium;
    padding: 20px;
 }